@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/*SCROLL
**/

::-webkit-scrollbar {
    width: 12px;
    background-color: #CCC;
    border: 5px solid white;
}

::-webkit-scrollbar-thumb {
    background-color: #009688;
    border-radius: 50px;
    border: 2px solid white;
}






/*GERAL*/


.row {
    color: #FFF;
}

.img-thumbnail {
    border: none;
    background-color: transparent;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.divider {
    padding: 100px 0px;
    padding-bottom: 100px;
}








/*  BARRA DE NAVEGAÇÃO
**/

header nav {
    position: fixed;
    height: 80px;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 0;
}
.navbar .mobile-menu{
    cursor:pointer;
    display: none;
}
#logo {
    width: 175px;
}
.navbar .mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}
.navbar .navbar-collapse ul {
    margin-right: 15px;
    margin-left: 15px;
}
.navbar ul li {
    margin-left: 30px;
    font-weight:400;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
}
.navbar.navbar-dark ul .nav-link {
    color: #FFF;
    font-size: 15px;
}
.navbar ul li a::after{
   content:'';
   height: 3px;
   width: 0;
   background: #009688;
   position:absolute;
   left:0;
   bottom: 0;
   transition: 0.5s;
}
.navbar .navbar-nav li a:hover::after{
    width: 100%;
}
.navbar.navbar-dark .navbar-nav .nav-link:hover {
    color: #009688;
}
.navbar .active::after{
    width: 100%;
}










/*
MAIN SECTION HOME 
**/

.main-section {
    height: 800px;
    background-color: #CCC;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('../../media/background-1.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.main-section .row .text-1 {
    width: 200px;
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 15px;
    font-weight: 400;
    border: 2px solid#009688;
    background-color: #009688;
    position: relative;
}

.main-section .row .text-1:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #009688;
    bottom: -20px;
    left: 20%;
}

.main-section .row {
    height: 800px;
    align-items: center;

}

.main-section .row .name {
    font-weight: 500;
    font-size: 50px;
}
.main-section .row h2 {
    font-weight: 400;
    color:rgb(233, 221, 221) ;
    font-size: 20px;
}

.main-section .row img {
    margin-top: 15px;
    width: 250px;
    border-radius: 150px;
    background: linear-gradient(88.25deg,#212529 .18%,#5E6A75 37.7%,#212529 119.08%);
    border: 1px solid #212529;
    padding: 0.50rem;
}

.main-section .row i {
    font-size: 40px;
    margin-top: 20px;
    margin-left: 20px;
    color: #FFF;
    transition: all ease .3s;
}

.main-section .row i:hover {
    opacity: .9;
    color: #009688;
}














/* SECTION SOBRE 
**/



.about-me {
    background-image: linear-gradient(180deg, #41405C, #2F2E42);
}
.about-me .row .col-sm-6 {
    margin-top: 50px;
}
.about-me .content h1{
    margin-top: 25px;
}
.about-me .divider p{
    font-weight: 500;
    font-size: 14px;
    color: rgb(190, 179, 179);
}

.languages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.languages ul li {
    display: inline-block;
    margin: 0 6px;
    padding: 4px 0px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.languages ul li span {
    border: 3px solid #009688;
    padding: 4px 10px;
    border-radius: 4px;
}

.about-me .donwload-cv a {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    color: #FFF;
    width: 300px;
    margin-top: 25px;
    border: 1px solid #009688;
    padding: 15px;
    background: linear-gradient(88.25deg,#009688 .18%,#147BC9 37.7%,#65BBFC 119.08%);
    border-radius: 50px;
    text-align: center;
}

.about-me .our-service {
    color: #FFF;
}

.about-me .our-service .glass {
    padding: 20px;
    border-radius: 15px;
    background-color: #4A4969;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height: 250px;
}

.about-me .our-service i {
    font-size: 30px;
    margin-right: 15px;
}

.about-me .our-service .row h2 {
    margin-top: 15px;
    font-weight: 500;
}









/* SECTION HABILIDADES  
**/


.skills-me {
    background-color: #262536;
}

.skills-me .glass {
    margin-right: 50px;
}

.skills-me .glass2 {
    margin-left: 50px;

}

.skills-me h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.skills-me ul li {
    display: inline-block;
    width: 49%;
    margin: 0 auto;
    text-align: center;
}

/*
habilidades tecnicas
**/

.skills-me .skils-technical h2 {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 30px;
}

.progress-bar-one {
    background: #959595;
    width: 100%;
    height: 10px;
    border-radius: 15px;
}

.progress-bar-one div {
    height: 10px;
    border-radius: 5px;
    width: 0%;
}

.progress-bar-one div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #212529;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html {
    background: #e91e63;
    animation: html 1s linear forwards;
}

.css {
    background: #00ACEE;
    animation: css 1s linear forwards;
}

.bootstrap {
    background: #00bcd4;
    animation: bootstrap 1s linear forwards;
}

.mysql {
    background: #9c27b0;
    animation: mysql 1s linear forwards;
}

.nodejs {
    background: #ffeb3b;
    animation: nodejs 1s linear forwards;
}

.reactjs {
    background: #94cc33;
    animation: reactjs 1s linear forwards;
}

.html span {
    border: 1px solid #e91e63;
}

.css span {
    border: 1px solid #00ACEE;
}

.bootstrap span {
    border: 1px solid #00bcd4;
}

.mysql span {
    border: 1px solid #9c27b0;
}

.nodejs span {
    border: 1px solid #ffeb3b;
}

.reactjs span {
    border: 1px solid #94cc33;
}

@keyframes html {
    100% {
        width: 75%;
    }
}

@keyframes css {
    100% {
        width: 70%;
    }
}

@keyframes bootstrap {
    100% {
        width: 65%;
    }
}

@keyframes mysql {
    100% {
        width: 65%;
    }
}

@keyframes nodejs {
    100% {
        width: 40%;
    }
}

@keyframes reactjs {
    100% {
        width: 30%;
    }
}

/* habilidades profissionais
**/
.professional-skills {
    display: inline-block;
    margin-top: 30px;
    width: 160px;
    height: 160px;
    position: relative;
}

.skill-name {
    font-size: 13px;
}

.outer {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(35, 82, 170, 0.644),
        -6px -6px 10px -1px rgba(58, 79, 143, 0.7)
}

.inner {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(78, 61, 122, 0.2) inset -4px -4px 6px -1px rgba(80, 76, 173, 0.7),
        -0.5px -0.5px 0px rgba(72, 64, 187, 1),
        0.5px 0.5px 0px rgba(22, 39, 194, 0.15),
        0px 12px 10px -10px rgba(28, 55, 177, 0.05)
}

.number {
    font-size: 25px;
    font-weight: 800;
    color: #FFF;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 100;
    }
}









/* SECTION PORTIFOLIO */

.portfolio {
    height: 1000px;
    background-image: linear-gradient(180deg, #41405C, #2F2E42);
}

.slider {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: column;
    background-color: transparent;
    position: relative;
    margin-bottom: 100px;
}

.slider:before {
    z-index: 777;
    content: '';
    position: absolute;
    background: #2625364f;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.slider video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .portfolio-content {
    z-index: 888;
    color: #FFF;
    padding: 0 10px;
    position: absolute;
    top: 450px;
    right: 0;
    width: 100%;
    margin-top: 50px;
    display: none;
}

.slider .portfolio-content.active {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    flex-direction: column;
}

.slider .portfolio-content h1 {
    font-size: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 15px;
    margin: auto;
}

.slider .portfolio-content h1 span {
    text-align: left;
    font-size: 0.7em;
    font-weight: 600;
}

.slider .portfolio-content p {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: 300;
    
}

.slider .portfolio-content a {
    background: #fff;
    padding: 15px 35px;
    margin: auto;
    color: #3F3E59;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.slider-navigation {
    z-index: 888;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 690px;
    transform: translateY(80px);
}

.slider-navigation .btn-slide {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .btn-slide.active {
    background: #009688;
}

.slider-navigation .btn-slide:not(:last-child) {
    margin-right: 30px;
}

.slider-navigation .btn-slide:hover {
    transform: scale(1.2);
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active {
    clip-path: circle(150.0% at 0 50%);
    transition: 1s ease-out;
    transition-property: clip-path;
}



/* SECTION CONTACT
**/
.contact{
    height: 600px;
    background-color: #262536;
}
.contact h1{
    color: #fff;
    text-align: center;
}
.contact .row{
    max-width: 500px;
    text-align: center;
    margin: auto;
}
.contact .row a:not(:first-child){
    margin-top: 15px;
}
.contact a{
    border: 1px solid #009688;
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    color: #fff;
}
.contact a:hover{
    transform: scale(1.1);
}
.contact .border1 .content{
    font-family: monospace;
    font-weight: 300;
    font-size: 25px;
}
.contact i{
    margin-left: 15px;
    font-size: 30px;
}


/*  Overlay
*/

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262536;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader{
    width: 80px;
    height: 80px;
}
.loader::after{
    content: "";
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    margin: 8px;
    animation: spin 1.2s ease infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*ANIMAÇÃO*/

[data-anime]{
    opacity: 0;
    transition: .5s;
    display: none;
}
[data-anime="skills"]{
    transform: translate3d(-50px, 0, 0);
    
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    display: block;
  
}

/* SCROLLREVEAL
*/


.text-1, .name, .social-medias, .main-section img{
    visibility: hidden;
}

.about-me .row, .about-me .our-service, .about-me .donwload-cv, .about-me.content {
    visibility: hidden;
}
.portfolio h1, .portfolio .slider{
    visibility: hidden;
}
.contact h1, .contact .row{
    visibility: hidden;
}



/*MEDIAS QUERY
**/





@media(max-width: 991px) {
    #menu-area{
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        width: 50vw;
        height: calc(100vh - 80px);
        background: #212529;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: all ease .5s;
        overflow:hidden;
    }
    .navbar .mobile-menu{
        display: block;
    }
    .about-me .donwload-cv {
        margin-top: 50px;
    }

    .about-me .donwload-cv a {
        display: block;
        margin: auto;
    }


    .about-me .our-service .glass {
        height: 300px;
    }
    .skills-me .col-lg-6:last-child {
        margin-top: 100px;
    }

    .skils-technical {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }

    .skills-me .glass,
    .skills-me .glass2 {
        margin: 0;
    }

    .skills-me ul li {
        display: inline-block;
        width: 49%;
        padding-left: 0;
    }

    .slider .portfolio-content h1 span {
        font-size: 1.2em;
        font-weight: 600;
    }

    .slider .portfolio-content a {
        font-size: 0.8em;
    }

    .slider .portfolio-content h1 {
        font-size: 1em;

    }

    .slider .portfolio-content h1 span {
        font-size: 0.8em;
        font-weight: 600;
    }

}

@media (max-width: 575px) {
    .main-section .row .col-sm-6:first-child {
        margin-top: 50px;
    }

    .main-section .row .col-sm-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-section .row .name {
        font-size: 40px;
    }

    .main-section .row i {
        font-size: 30px;
    }

    .main-section .row img {
        width: 200px;
    }

    .slider .portfolio-content a {
        font-size: 0.8em;
    }
    .slider .portfolio-content h1 {
        margin-bottom: 0;
    }
    .slider .portfolio-content p {
        margin-bottom: 30px;
    }
}